:root {
  --primary-color: #000000;
  --accent-color: #b7a191;
  --bcg-color: #FFFFFF;
  --bcg-card-color: #f7ede6;
  --bcg-card-mazda: #e4c9b6;
  --bcg-color-first: #f7f7f7;
}

*, *:before, *:after {
  box-sizing: border-box;
}

body {
  max-width: 1280px;
  margin: auto;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  color: var(--primary-color);
}

.container {
  padding: 0 60px;
}

a {
  text-decoration: none;
  color: var(--primary-color);
}
a:hover {
  text-decoration: underline;
}

li {
  list-style-type: none;
}

.btn {
  display: inline-block;
  max-width: 153px;
  height: 43px;
  border-radius: 10px;
  border: 1px solid var(--primary-color);
  font-size: 14px;
  text-transform: capitalize;
  padding: 10px;
  text-align: center;
}
.btn:hover {
  opacity: 0.5;
  background-color: var(--accent-color);
  text-decoration: none;
}

h2 {
  margin: 0;
  text-align: left;
  padding-top: 35px;
  padding-bottom: 20px;
  font-size: 30px;
  line-height: 1.2;
  text-transform: uppercase;
  text-align: center;
}

.title-color {
  color: var(--accent-color);
}

p {
  margin: 0;
}

h3 {
  margin: 0;
  margin-top: 20px;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 1.2px;
  text-align: center;
  text-transform: uppercase;
}

.header {
  height: 85px;
  background-color: var(--bcg-card-color);
}

.nav-bar-wrapper {
  display: flex;
  gap: 35px;
  align-items: center;
}

.header-wrapper {
  padding: 16px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-bar {
  display: flex;
  gap: 35px;
}

.hero {
  height: 800px;
  background: url("../images/hero.jpg") no-repeat center/cover;
}

.hero-title {
  margin: 0;
  font-size: 100px;
  line-height: 0.8;
  padding-top: 30px;
  padding-left: 100px;
  color: var(--accent-color);
}

.about {
  padding-bottom: 20px;
  height: 300px;
  background-color: var(--bcg-card-color);
}

.choose {
  padding-bottom: 20px;
  background-color: var(--accent-color);
}

.choose-card-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.choose-card {
  max-width: 360px;
  padding: 26px;
  border-radius: 10px;
  background-color: var(--bcg-card-color);
}

.choose-image {
  width: 308px;
  border-radius: 10px;
}

.mazda-bcg-color {
  background-color: var(--bcg-card-mazda);
}

.hiundai {
  background: url("../images/hiundai.jpeg") no-repeat center/cover;
  width: 308px;
  height: 308px;
}

.mazda {
  background: url("../images/mazda.jpeg") no-repeat center/cover;
  width: 308px;
  height: 308px;
}

.mini-cooper {
  background: url("../images/mini-cooper.jpeg") no-repeat center/cover;
  width: 308px;
  height: 308px;
}

.card-p {
  margin-top: 20px;
  margin-bottom: 35px;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
}

.choose-btn {
  display: flex;
  justify-content: center;
}

.fuel {
  padding-bottom: 20px;
  height: 450px;
  background-color: var(--bcg-card-color);
}
.fuel .fuel-content-wrapper {
  display: flex;
  gap: 50px;
  align-items: start;
}
.fuel .fuel-image {
  background: url("../images/fuel.jpg") no-repeat center/cover;
  width: 308px;
  height: 308px;
}
.fuel .fuel-input {
  width: 100px;
  height: 20px;
  border: 1px solid var(--accent-color);
  border-radius: 10px;
}
.fuel .fuel-input-result {
  margin-top: 10px;
  margin-left: 50px;
}
.fuel .fuel-submit {
  cursor: pointer;
  color: var(--accent-color);
  background-color: var(--bcg-color);
}
.fuel .fuel-submit:hover {
  opacity: 0.8;
  background-color: var(--bcg-card-color);
  color: var(--primary-color);
}

.footer {
  height: 100px;
  background-color: var(--accent-color);
}
.footer .footer-copyright {
  text-align: center;
  color: var(--bcg-color);
  font-size: 10px;
}/*# sourceMappingURL=style.css.map */